Meterstanden/.ipynb_checkpoints/Meterstanden-checkpoint.ipynb
Meterstanden/.ipynb_checkpoints/Meterstanden-pd-bokeh-checkpoint.ipynb
Meterstanden/.ipynb_checkpoints/Meterstanden-pd-mpl-checkpoint.ipynb
lastfailed
Meterstanden/.ipynb_checkpoints/Matplotlib Example Interactive 3D plot-checkpoint.ipynb
Meterstanden/.ipynb_checkpoints/Meterstanden-pd-hv-checkpoint.ipynb
Notebooks/.ipynb_checkpoints
Meterstanden.code-workspace
